# Ignoring images and sensitive data
*Ad hoc presentation.docx
*Ad Presentation1.pptx
*sample_challenge_presentation.pdf
*Screenshot 2023-08-12 221418.png
*Screenshot 2023-08-12 221454.png
*ad-hoc-requests.pdf
*Hints.pdf
*support document for beginners.pdf